.issues {
  border: 1px solid #EEE;
}
.issues td {
  border: 1px solid #EEE;
}
.issue__th {
  cursor: pointer;
}
.issue__th {
  padding: 0 15px 0 0;
}
.issue__row:nth-child(2n) {
  background: #EEE;
}
.issue__td_child {
  background: #DFE1F3;
  position: relative;
}
.issue__td_date {
  width: 130px;
}
.glyphicon {
  display: none;
}
.issue__th.active .glyphicon{
  display: inline-block;
}

/*lines*/
.issue__hline { /*horizontal line*/
  width: 2px;
  background: #000;
  position: absolute;
  z-index: 3;
  left: 15px;
  height: 100%;
}
.editable {
  width: 100%;
  color: #FF0000;
  border: none;
  padding: 0;
}
